language: php
php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0

cache:
  directories:
    - vendor
    - ~/.composer/cache
    - ~/cphalcon

before_install:
  - pecl channel-update pecl.php.net
  - pecl install yaml-beta < /dev/null
  - echo "extension=yaml.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
  - pecl install redis < /dev/null
  - echo "extension=redis.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
  - composer install --dev -o --prefer-source --no-interaction
  - chmod +x bin/install-phalcon.sh
  - bin/install-phalcon.sh v3.0.2

before_script:
  - mysql -uroot < tests/config/schema.sql

script:
  - vendor/bin/phpunit

addons:
  apt:
    packages:
      - libyaml-dev

services:
  - redis-server
  - mysql
