language: php

php:
  - 7.0
  - 7.1
  - 7.2

cache:
  directories:
    - vendor
    - ~/.composer/cache
    - ~/cphalcon

before_install:
  - chmod +x bin/*.sh
  - pecl channel-update pecl.php.net
  - pecl install -f yaml-2.0.4 < /dev/null
  - pecl install -f redis < /dev/null
  - echo "extension = yaml.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
  - echo "extension = redis.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini

install:
  - composer install --dev -o --prefer-source --no-interaction
  - bin/install-phalcon.sh v3.4.1

before_script:
  - phpenv config-rm xdebug.ini
  - mysql -uroot < tests/config/schema.sql
  - sleep 20

script:
  - vendor/bin/phpunit

addons:
  apt:
    packages:
      - libyaml-dev

services:
  - redis-server
  - mysql
